<div data-th-fragment="contact">
    <!-- Main modal -->
    <div
            id="view_contact_modal"
            tabindex="-1"
            aria-hidden="true"
            class="hidden transition-all overflow-y-auto overflow-x-hidden fixed top-16 bottom-16 right-0 left-0 z-50 justify-center items-center w-full max-h-[90%] p-4"
    >
        <div class="relative w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow-lg dark:bg-gray-800 dark:shadow-gray-900">
                <!-- Modal header -->
                <div class="flex justify-center p-4 md:p-5 border-b rounded-t bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 dark:from-gray-700 dark:via-gray-800 dark:to-gray-900">
                    <div class="p-5 flex flex-col justify-center items-center space-y-2">
                        <img
                                onerror="this.src='https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png'"
                                id="contact_image"
                                class="w-28 h-28 rounded-full border-4 border-gray-200 dark:border-gray-600 shadow-md"
                                src=""
                                alt=""
                        />
                        <h3 id="contact_name" class="text-2xl font-semibold text-white dark:text-gray-100"></h3>
                        <p class="text-gray-100 dark:text-gray-300" id="contact_email"></p>
                        <p class="text-gray-100 dark:text-gray-300" id="contact_phone">
                            889794564614
                        </p>
                    </div>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    <!-- other contact information -->
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
                            <tbody>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white">
                                    <i class="fa-solid fa-location-dot w-6 h-6 text-blue-500 dark:text-gray-300"></i>
                                </th>
                                <td class="px-6 py-4">
                                    <span id="contact_address">Vishesh Khand, Gomti Nagar, Lucknow</span>
                                </td>
                            </tr>

                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white">
                                    <i class="fa-solid fa-user w-6 h-6 text-purple-500 dark:text-gray-300"></i>
                                </th>
                                <td class="px-6 py-4">
                                    <span id="contact_about">Professional programmer</span>
                                </td>
                            </tr>

                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white">
                                    <i class="fa-regular fa-heart w-6 h-6 text-red-500 dark:text-gray-300"></i>
                                </th>
                                <td class="px-6 py-4">
                                    <span id="contact_favorite">This is your favorite contact</span>
                                </td>
                            </tr>

                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white">
                                    <i class="fa-solid fa-earth-americas w-6 h-6 text-green-500 dark:text-gray-300"></i>
                                </th>
                                <td class="px-6 py-4">
                                    <a id="contact_website">www.learncodewithdurgesh.com</a>
                                </td>
                            </tr>

                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white">
                                    <i class="fa-brands fa-linkedin-in w-6 h-6 text-blue-600 dark:text-gray-300"></i>
                                </th>
                                <td class="px-6 py-4">
                                    <a id="contact_linkedIn">www.linkedin.com/in/durgesh</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center justify-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button
                            onclick="closeContactModal()"
                            type="button"
                            class="py-2.5 px-5 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
